


body{
    font-family: 'Montserrat', sans-serif;

}

.bg-wrapper{
    background-image: url("../src/img/main-bg.png");
    background-position: top;
    background-repeat: no-repeat;
    background-color: #000;
 
    height: 100%;
}
.container{
max-width: 1230px;
padding: 0 30px;
}

.logo{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 70px;
}
.main{
    &-content{
        margin-left: 70px;
        &-title{
            width: 100%;
            color: #fff;
            font-size: 40px;
            font-weight: 800;
        }
        &-desc{
            width: 100%;
            margin-top: 30px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }
        &-video{
            margin-top: 35px;
            height: 338px;
            max-width: 601px;
            width: 100%;
        }
    }
}
.contact{
    margin-left: -30px;
    max-width: 330px;
    width: 100%;
    padding: 22px 15px 40px 15px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    &-step{
        display: inline-block;
        width: 85px;
        padding: 5px 0;
        border-radius: 20px;
        background-color: #1b0195;
        color: #fff;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        &-span{
            font-weight: 500;
        }
    }
    &-title{
        margin-top: 10px;
        font-size: 34px;
        font-weight: 800;
        line-height: 30px;
        &-span{
            font-size: 27px;
        }
    }
    &-placeholder{
        width: 100%;
        height: 46px;
        border-radius: 20px;
        outline: none;
        margin: 5px 0;
        background-color: #eceef1;
        border:none;
        padding: 20px;
        font-size: 15px;
    }
    &-placeholder::placeholder{
        color: #000;
    }
    &-submit{
        display:block;
        width:100%;
        height: 46px;
        border-radius: 20px;
        outline: none;
        color:#fff;
        border:none;
        margin-top: 10px;
        background: linear-gradient(#fd3675, #ff6a52);
        font-size: 15px;
        font-weight: 800;
    }
    &-submit:hover{
        background: linear-gradient(#1b0195, #ff6a52);
        transition: 0.3s ease-in;
    }
}
.form-desc{
    margin-top: 23px;
    display: flex;
    align-items: center;
    &-img{
        width: 40px;
        height: 25px;
        margin-right: 10px;
    }
    &-text{
        font-size: 14px;
        color: #fff;
        &-span{
            color: #fd3277;
        }
    }
}
.trade-price{
    font-size: 24px;
    color:#fff;
    margin-top: 50px;
    margin-left: -30px;
}
#bid::before{
    content: '€';
}
#bid{
    color: #fd3277;
}
#ask::before{
    content: '€';
}
#ask{
    color: #fd3277;
}
.companies{
    margin-top: 18px;
    margin-left: -30px;
    img{
        margin-right: 20px;
    }
}
.companies img:last-child{
 margin-right: 0;
}
.swiper{
    &-title{
        font-size: 14px;
        font-weight: 800;
        padding-left: 20%;
        padding-top: 10px;
        background-color: #fff;
        padding-bottom: 80px;
    }
    &-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
      &-bg{
        background-color: #160467;
        height: 225px;
        background-position-y: bottom;
        
      }
      &-slide {
        margin-top: -50px;
        border-radius: 5px;
        padding-top: 10px;
        padding-left: 20px;
        height: 123px;
        background-image: url("../src/img/coins.png");
        box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
        background-repeat: no-repeat;
        background-position: center;
        max-width: 230px;
        width: 100%;
        height: 123px;
    
        &-title{
            font-size: 19px;
            font-weight: 800;
        }
        &-date{
            font-size: 17px;
            font-weight:700;
            color: #6b6b6b;
        }
        &-amount{
            font-size: 24px;
            font-weight:800;
            color: #fd3277;
        }
    }
}

.wrap_popup{
	display:none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height:100%;
	width:100%;
	overflow:auto;
    background-color: rgba(0,0,0,0.6);
}

.popup{
    background-color: #fff;
	height:auto;
	width:100%;
	max-width:330px;
	margin:5% auto;
    padding: 0 20px;
	display:block;
	border-radius:8px;
	overflow:hidden;
	box-shadow: 0 0 5px #000;
    &-title{
        text-align: center;
        margin-top: 25px;
        font-size: 27px;
        font-weight: 800;
    }
    &-info{
        width: 100%;
        margin-top: 15px;
        font-size: 20px;
        font-weight: 700;  
        .fill{
            display: inline-block;
            font-size: 20px;
            font-weight: 500;
            width: 100%;
            height: 46px;
            border-radius: 20px;
            outline: none;
            background-color: #eceef1;
            border:none;
            padding-top: 15px;
            font-size: 15px;
            align-items: center;
            text-align: center;
        }
    }
    &-btn{
        display:block;
        width:100%;
        height: 46px;
        border-radius: 20px;
        outline: none;
        color:#fff;
        border:none;
        margin: 30px 0;
        background-color: #1b0195;
        font-size: 15px;
        font-weight: 800;
    }
    &-btn:hover{
        background-color: #fff;
        color:#1b0195;
        border: 1px solid #1b0195;
        transition: 0.3s ease-in-out;
    }
}

@media screen and(max-width:1024px){
    .main-content-video{
        height: 260px;
    }
}
@media screen and(max-width:768px){
    .contact{
        margin-left: 0;
        margin-top: 40px;
    }
    .form-desc{
        margin-left: 15%;
        text-align: center;
    }
    .trade-price{
        margin-left: 0;
        text-align: center;
    }
    .companies{
        margin-left: 0;
        text-align: center;
    }
    .swiper-title{
        padding-left: 0;
        text-align: center;
    }
}
@media screen and(max-width:425px){
    .logo{
        margin-left: 0;
    }
    .main-content{
        margin-left: 0;
    }
    .contact{
        margin: 0 auto;
        margin-top: 40px;
    }
}
@media screen and(max-width:320px){
    .form-desc{
        margin-left: 0;
    }
    .trade-price{
        text-align: center;
        font-size: 18px;
    }
    .companies{
        text-align: center;
    }
}

